<div class="drawer" id="app-drawer">
    <input id="app-drawer-toggle" type="checkbox" class="drawer-toggle" phx-update="ignore" />
    <div class="drawer-content">
        <div class="navbar bg-base-100 shadow mb-4">
            <div class="flex-1">
                <label for="app-drawer-toggle" class="btn btn-ghost lg:hidden cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </label>
                <a href="{{frame.app_url}}" class="btn btn-ghost text-xl">{{frame.app_title}}</a>
            </div>
            <div class="flex-none flex items-center gap-2">
                {{frame.theme_picker_html}}
            </div>
        </div>
