    </div>
    <div class="drawer-side">
        <label for="app-drawer-toggle" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="bg-base-100 min-h-full w-48 p-4 flex flex-col" style="padding-bottom: max(1rem, env(safe-area-inset-bottom))">
            <ul class="menu flex-1">
                <li class="menu-title">Contents</li>
                {% for m in frame.sidebar_models %}
                <li><a href="{{m.url}}">{{m.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
