<div class="cards-container">
    <h1>Content</h1>

    <div class="cards-list">
        {% for item in items %}
        <a href="{{item.url}}" class="card card-link">
            <div class="card-header">
                <div class="field-display">
                    <div class="title-content"><p>{{item.title}}</p></div>
                </div>
            </div>
            <div class="card-body">
                <div class="field-display">
                    <div class="content-text"><p>{{item.description}}</p></div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
